body{
    width: 100vw;
}
.container{
    max-width: 420px;
    margin: auto;
}
.form{
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

#btn{
    cursor: pointer;
    margin: 1rem 0;
}