*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    -webkit-text-size-adjust: inherit;
}
h1{
    margin: 2rem 0;
    font-size: 22px;
}
label{
    font-size: 13px;
}
body{
    width: 100vw;
    box-sizing: border-box;

}
.container{
    max-width: 820px;
    margin: auto;
   display: flex;
   justify-content: space-between;
   
}
.form_content{
    width: 380px;
     box-sizing: border-box;

}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.form input{
    padding: .4rem;
    border: none;
    box-shadow: 1px 1px 6px rgba(11, 11, 11, 0.08);
}

#btn{
    cursor: pointer;
    text-align: center;
    background-color: rgb(255, 199, 14);
    margin: 1rem 0;
}

.img{
    background-image: url('sign_img.png');
     
     background-size: 450px;
     width: 420px;
     height: 470px;
     background-repeat: no-repeat;
     background-position-y: 194px;
}