@import "variables";
@import "resert";
@import 'mixin';


label {
    font-size: 13px;
}

.title_content{
    @include title();
    h1{
        font-size: $font_title;
    }
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: $bg;
}

.container {
    max-width: 870px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;


}

.form_content {
    width: 380px;
    box-sizing: border-box;
    animation: animation 2s;
    
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: auto;

}

.input {
  @include input();
}

.input-date{
    padding: .6rem 1.5rem;
    border: none;
    border-bottom:1px solid rgba(112, 112, 112, 0.192);
    outline: none;
    margin-bottom: .5rem;
}

.btn{
    @include btns();

    &:hover{
        box-shadow: 5px 3px 1px $pink;
        transition: all .6s;
    }
}


.img {
    background-image: url('../img/sign.svg');
    background-size: 390px;
    width: 420px;
    height: 470px;
    background-repeat: no-repeat;
    background-position-y: 194px;
    animation: ease-in-out 1.5s animation;
    
}

.login_option a{
    @include login_option();
    
}

@keyframes animation {
    from {
        transform: translateX(385px);
    }

    to {
        transform: translateX(0);
    }
}

@media screen and (max-width:480px){
    
    .container{
        flex-direction: column;
        padding: 1rem;
    
        .img{
            display: none;
        }

        .form_content{
            padding: 1.4rem;
            animation: none;
        }
    }
    
}