@import "variables";
@import "resert";
@import "mixin";

body{
    width: 100%;
    height: 100%;
}

.header{
    @include display(space-between);
    background-color: $yellow;
    box-sizing: border-box;
    padding: 1rem 7rem;

    .logo{
        font-weight: 700;
        font-size: 25px;
      
    }

    button{
        cursor: pointer;
        background-color: $pink;
        padding: .5rem 1.8rem;
        a{
            text-decoration: none;
            color: white;
            font-weight: 600;
        }
    }

}

main{
    display: flex;
    height: 100vh;
    width: 100%;
    
    
}


.title_section{
    margin-bottom: 3rem;
}

.h{
    display: flex;
    width: 100%;
    gap: 1.5rem;

}

.container_main{
    box-sizing: border-box;
    min-width: 920px;
    padding: 3rem 2rem;
}

.container_book{
    box-shadow: 1px 4px 4px rgba(73, 73, 73, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 140px;
    height: 230px;
    background-color: white;
    padding: 1rem;

    .livro{
        display: flex;
        align-items: center;
        width: 140px;
        height: 82%;
        margin: auto;
        overflow: hidden;
        img{
            margin: auto;
            max-width: 140px;
            &:hover{
                transform: scale(1.1);
            }
        }
    }

    .description_book{
        display: flex;
        justify-content: space-between;
        .pontuacao_container{
            display:flex;
        }
    }
}



aside{
    div{
        position: absolute;
        margin-top: 120px;
        right: 100px;

        span{
            background-color: $pink;
            padding: 1rem 2.5rem;
            border: 2px solid black;
            a{
                color: white;
                font-weight: 500;
                text-decoration:none ;
            }
        }
    }
}
