@import "variables";
@import "resert";
@import "mixin";

.title_content{
    @include title();
    h1{
        font-size: $font_title;
    }
}

label{
    font-size: 13px;
}
body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_content{
    width: 380px;
    box-sizing: border-box;

}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: auto;

    .btn{
        @include btns();
        border-radius: 0;
        &:hover{
            @include btn_hover();
        }
    }

}

.form input{
    @include input();
}





.login_option {
    display: flex;
    justify-content: space-between;
    a{
        @include login_option();
        
    }
  
}
